version: '3.9'
services:
  dev-db:
    image: postgres:13
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: nest
    ports:
      - "5434:5432"
    networks:
      - freecodecamp
networks:
  freecodecamp:
